@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800;900&family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --blue-color: #007acc;
    --backgrond : #222222;
    --container : #2C2C2C;
    --div: #2d2d30;
    --card : #3e3e42;
    --text : #A0A0A0;
    --foot : #1A1B1D;
}

body {
    background-color: var(--foot);
}

html {
    scroll-behavior: smooth;
}

/* Scroll Bar */

::-webkit-scrollbar {
    width: 10px;
    background-color: #161616;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    height: 20px;
    background-color: #161616;
    border-radius: 50px;
}

::-webkit-scrollbar-button {
    background-color: black;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background-color: #333333;
    border-radius: 50px;
}


#main {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--backgrond);
    padding-inline: 10%;
}

.container-box {
    width: 100%;
    /* padding-top: 0px; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.kiri {
    flex-basis: 70%;
    /* background-color: #007acc; */
    text-align: end;
}

.box {
    display: flex;
    text-align: start;
    margin-bottom: 20px;
    /* background-color: #007acc; */
    /* align-items: center; */
    /* justify-content: center; */
}

h1 {
    color: #fff;
    text-align: center;
}

p {
    margin-bottom: 5px;
}
label {
    margin-bottom: 5px;
}

.wrapper {
    width: 80%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--container);
    border-radius: 15px;
    margin-top: 20px;
    padding-inline: 5%;
    gap: 50px;
    color: var(--text);
    box-shadow: 0px 0px 10px var(--container);
}

.box-kiri {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 2px;
}
/* .input-kiri {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 11px;
} */

.box-kanan {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 2px;
}

.input-kanan{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

.kanan {
    flex-basis: 30%;
}

.kanan img {
    width: 20vw;
    border-radius: 50%;
    margin-bottom: 30px;
}

.edit {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    font-size: 17px;
    border-radius: 5px;
    background-color: var(--blue-color);
    border: none;
    /* margin-top: 20px; */
}

.hapus {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    font-size: 17px;
    border-radius: 5px;
    background-color: red;
    /* margin-top: 50px; */
}

input {
    width: 96%;
    padding:  5px;
    background-color: var(--container);
    border: 1px solid var(--text);
    border-radius: 5px;
    color: var(--text);
    outline: none;
}

select {
    width: 96%;
    padding: 5px;
    background-color: var(--container);
    border: 1px solid var(--text);
    border-radius: 5px;
    color: var(--text);
    outline: none;
}

input:focus {
    border: 1px solid var(--blue-color);
}