@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800;900&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@200;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1A1B1D;
}

:root{
    --blue-color: #007acc;
    --backgrond : #1e1e1e;
    --container : #252526;
    --div: #2d2d30;
    --card : #3e3e42;
    --text : #A0A0A0;
}

/* smooth scroling */

html {
    scroll-behavior: smooth;
}

/* Scroll Bar */

::-webkit-scrollbar {
    width: 10px;
    background-color: #161616;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    height: 20px;
    background-color: #161616;
    border-radius: 50px;
}

::-webkit-scrollbar-button {
    background-color: black;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background-color: #333333;
    border-radius: 50px;
}



.container-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

form {
    width: 32%;
    height: 65%;
    /* background-color: #007acc; */
    background-color: #2c2c2c;
    position: relative;
    border-radius: 15px;
    padding: 60px 80px ;
    color: #fff;
}

.label {
    /* background-color: #df5858; */
    margin-top: 5px;
    margin-bottom: 20px;
}

.div-user {
    width: 100%;
    position: relative;
}

.div-user input {
    background: none;
    border: 2px solid #A0A0A0;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    height: 30px;
}

.div-user span {
    position: absolute;
    left: 5px;
    top:10px;
    padding: 0px 5px;
    transition: all .3s ease;
    background-color: #2c2c2c;
    border-radius: 5px;
    pointer-events: none;
    /* background-color: #007acc; */
}


.div-user input:valid~span,
.div-user input:focus~span {
    transform: translateY(-13px);
    font-size: 13px;
}

form button {
    background: #007acc;
    border: none;
    outline: none;
    padding: 5px 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    transition: all .3s ease;
    /* font-weight: bold; */
}

form button:hover {
    box-shadow: 3px 3px #fff;
}

form a {
    padding: 3px 12px;
    margin-left: 10px;
    text-decoration: none;
    border: 2px solid #007acc;
    border-radius: 5px;
    color: #007acc;
    font-size: 17px;
    transition: all .3s ease;
}

form a:hover {
    background-color: #007acc;
    box-shadow: 3px 3px #fff;
    color: #fff;
}
